<div class="container">

  <div class="container border border-solid border-info p-5 mt-5 mb-4">
    <h1>Find a movie</h1>
    <p>Search for a movie using the form below:</p>
    <form [formGroup]="form" (ngSubmit)="search()">
      <input type="text" formControlName="search" class="form-control" name="search">
      <button class="btn btn-primary mt-4">Search</button>
    </form>
  </div>

  <div *ngIf="searchedCountry" class="panel-body mt-3 mb-5">
    <div class="row cards mb-3">
      <div class="col-md-2">
        <app-country [country]="searchedCountry" class="card"></app-country>
      </div>
    </div>
  </div>
  <div *ngIf="!searchedCountry && searchBtnClicked">
    <h4 class="red">
      I haven't been everywhere, but I'll put <span>{{form.get('search').value|uppercase}}</span> on my list.
    </h4>
  </div>

  <div class="mt-5 mb-4">
    <h3>Most interesting</h3>
  </div>

  <div class="panel-body mt-3 mb-5">
    <div class="row cards mb-3">
      <div>
        <app-loader *ngIf="!countries"></app-loader>
      </div>
      <div *ngFor="let country of countries;let i=index" class="col-md-2">
        <app-country [country]="country" class="card"></app-country>
      </div>
    </div>
  </div>
</div>
