.container {
  margin-top:5px;
}

.card {
  height: 250px;
  background-size: cover;
}

.col-md-3{
  padding: 2px;
}

.red {
  color: red;
}

span {
  letter-spacing: 2px;
  text-decoration: underline;
}
