<div class="container">
  <form [formGroup]="form" class="text-center">

    <p class="h4 mb-5 my-5 mt-5">Add New Travel</p>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Example select</label>
      <select formControlName="countrySelect" class="form-control" id="exampleFormControlSelect1">
        <option>Select Country</option>
        <option *ngFor="let country of countries">{{country.country}}</option>
      </select>
    </div>

    <div>
      <input type="text" formControlName="text" class="form-control" placeholder="text">
    </div>

  </form>
</div>
