<!-- Default form register -->
<form [formGroup]="registerForm" (ngSubmit)="register()" class="text-center border border-light">

  <p class="h4 mb-4">Sign up</p>

  <div class="form-row mb-4">
    <div class="col">
      <!-- First name -->
      <input type="text" formControlName="first_name" class="form-control" placeholder="First name">
      <p class="alert alert-danger error"
        *ngIf="registerForm.get('first_name').invalid && registerForm.get('first_name').touched">Enter first name</p>
    </div>

    <div class="col">
      <!-- Last name -->
      <input type="text" formControlName="last_name" class="form-control" placeholder="Last name">
      <p class="alert alert-danger error"
        *ngIf="registerForm.get('last_name').invalid && registerForm.get('last_name').touched">Enter last name</p>
    </div>
  </div>

  <!-- E-mail -->
  <div class="mb-4">
    <input type="email" formControlName="username" class="form-control" placeholder="E-mail">
    <p class="alert alert-danger error" *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched">
      Enter valid email</p>
  </div>

    <!-- Password -->
    <div class="mb-4">
      <input type="password" formControlName="password" class="form-control" placeholder="Password"
        aria-describedby="defaultRegisterFormPasswordHelpBlock">
      <p class="alert alert-danger error"
        *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
        Password must be at least 6 characters</p>
    </div>

    <!-- rePassword -->
    <input type="password" formControlName="rePassword" class="form-control" placeholder="Repeat Password"
      aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <p class="alert alert-danger error"
    *ngIf="registerForm.get('rePassword').errors && registerForm.get('rePassword').touched">
      Password do not match</p>
    <!-- <small class="form-text text-muted mb-4">

  </small> -->


  <!-- Sign up button -->
  <button id="btn" class="btn my-4 btn-block">Sign up</button>

  <!-- Register -->
  <p>Already registered?
    <a routerLink="/login">Login</a>
  </p>

</form>
