<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/home">
      <img src="https://www.clipartkey.com/mpngs/m/154-1545165_transparent-background-travel-icon-png.png" height="30"
        class="d-inline-block align-top" alt="">
    </a>
  </mdb-navbar-brand>

  <mdb-icon fas icon="angle-left" size="lg" class="text-white mr-auto d-flex d-md-none align-self-center"></mdb-icon>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/dashboard" mdbWavesEffect>Countries</a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/about" mdbWavesEffect>About</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Basic dropdown<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>

    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>My Travels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/login" mdbWavesEffect>Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/register" mdbWavesEffect>Register</a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
