<form [formGroup]="form" (ngSubmit)="test()" class="text-center">
  <p class="h4 mb-5 my-5 mt-5">Test</p>
  <select class="custom-select" formControlName="selectCountry">
    <option selected>Select country</option>
    <option value="1">Bulgaria</option>
  </select>
  <select class="custom-select">
    <option selected>Select city</option>
    <option value="1">Sofia</option>
  </select>
  <div>
    <input type="text" class="form-control" placeholder="picture URL">
    <!-- <p class="alert alert-danger error p-left">
      Enter valid email</p> -->
  </div>
  <button id="btn" class="btn btn-block my-4">Sign in</button>
</form>


<!-- <form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
</form> -->
