<div class="container">

  <!-- Default form login -->
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="text-center">

    <p class="h4 mb-5 my-5 mt-5">Sign in</p>

    <!-- Email -->
    <div>
      <input type="email" formControlName="username" class="form-control" placeholder="E-mail">
      <p class="alert alert-danger error p-left"
        *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
        Enter valid email</p>
    </div>

    <!-- Password -->
    <div>
      <input type="password" formControlName="password" class="form-control mt-4" placeholder="Password">
      <p class="alert alert-danger error p-left"
        *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
        Password must be at least 6 characters</p>
    </div>

    <!-- Sign in button -->
    <button id="btn" class="btn btn-block my-4" [disabled]="loginForm.invalid">Sign in</button>

    <!-- Register -->
    <p>Not a member?
      <a routerLink="/register">Register</a>
    </p>

    <!-- Social login -->
    <!-- <p>or sign in with:</p>

  <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a> -->

  </form>
  <!-- Default form login -->
</div>
