<div class="container">
  <div>
    <h3>Most interesting</h3>
  </div>

  <div class="panel-body">
    <div class="row cards">
      <!-- URL for the background comes from the child component -->
      <div class="col-md-3">
        <app-country class="card"></app-country>
      </div>
      <div class="col-md-3">
        <app-country class="card"></app-country>
      </div>
      <div class="col-md-3">
        <app-country class="card"></app-country>
      </div>
      <div class="col-md-3">
        <app-country class="card"></app-country>
      </div>
    </div>
  </div>
</div>
