<div class="container">
  <div>
    <h3>Most interesting</h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <!-- URL for the background comes from the child component -->
      <div class="col-md-3 card" style="background-image: url(../../assets/Screenshot_4.png); background-size: cover;">
        <app-country></app-country>
      </div>
      <div class="col-md-3 card" style="background-image: url(../../assets/Screenshot_6.png); background-size: cover;">
        <app-country></app-country>
      </div>
      <div class="col-md-3 card" style="background-image: url(../../assets/Screenshot_6.png); background-size: cover;">
        <app-country></app-country>
      </div>
      <div class="col-md-3 card" style="background-image: url(../../assets/Screenshot_6.png); background-size: cover;">
        <app-country></app-country>
      </div>
      <div class="col-md-3 card" style="background-image: url(../../assets/Screenshot_4.png); background-size: cover;">
        <app-country></app-country>
      </div>
      <div class="col-md-3 card" style="background-image: url(../../assets/Screenshot_4.png); background-size: cover;">
        <app-country></app-country>
      </div>
    </div>
  </div>
</div>
