<!-- Default form login -->
<form [formGroup]="loginForm" (ngSubmit)="login()" class="text-center border border-light">

  <p class="h4 mb-4">Sign in</p>

  <!-- Email -->
  <input type="email" formControlName="username" class="form-control" placeholder="E-mail">
  <p class="alert alert-danger error" *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
    Enter valid email</p>

  <!-- Password -->
  <input type="password" formControlName="password" class="form-control mt-4" placeholder="Password">
  <p class="alert alert-danger error" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
    Password must be at least 6 characters</p>

  <!-- Sign in button -->
  <button id="btn" class="btn btn-block my-4" type="submit">Sign in</button>

  <!-- Register -->
  <p>Not a member?
      <a routerLink="/register">Register</a>
  </p>

  <!-- Social login -->
  <!-- <p>or sign in with:</p>

  <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a> -->

</form>
<!-- Default form login -->
