<div class="jumbotron card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Travel with me around the world</strong></h2>
      <p class="mx-5 mb-5">You can visit my site and travel with me around the world, seeing pictures and places I've been...</p>
      <a class="btn btn-outline-white btn-md" routerLink="/dashboard" > Let's go</a>
    </div>
  </div>
</div>
