<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg m-5" routerLink="/register" role="button">Register</a>
    <a class="btn btn-primary btn-lg m-5" routerLink="/login" role="button">Login</a>
    <a class="btn btn-primary btn-lg m-5" routerLink="/dashboard" (click)="signin()" role="button">Continue as a Guest</a>
  </p>
</div>
