<div class="container">

  <div class="jumbotron text-center">
    <h1 class="display-4">WELCOME!</h1>
    <h4>This site is made for travelling around the world with Boogy</h4>
    <hr class="my-4">

    <div *ngIf="!isLogged">
      <p>If you wan't to continue with me to any destination, first you need to
        <a routerLink="/login" role="button">Login</a> /
        <a routerLink="/register" role="button">Register</a>
      </p>
      <p>
        Or you can do it as a Guest by clicking the button:
        <a class="btn btn-primary btn-lg m-5" (click)="signin()" role="button">Continue as a Guest</a>
      </p>
    </div>

    <div *ngIf="isLogged" >
      <p>
        Continue by clicking the button:
        <a class="btn btn-primary btn-lg m-5" routerLink="/dashboard" role="button">Continue</a>
      </p>
    </div>

  </div>

</div>
